.admin-header {
    display: flexbox;
    justify-content: center;
    /* canh giữa theo chiều ngang */
    /* align-items: center;
    canh giữa theo chiều dọc */
    height: 100vh;
    /* cần có chiều cao cụ thể */
}