.login-register {
	width: 36%;
	min-height: 300px;
	background: rgb(0,38,133);
	background: linear-gradient(180deg, rgba(0,38,133,1) 0%, rgba(0,35,159,1) 50%, rgba(0,48,191,1) 100%);
	margin: 80px auto 0;
	padding: 40px;
	border-radius: 15px;
	color: #fff;
	box-shadow: 5px 5px 10px #00000057;
}

.login-register__title {
	font-size: 26px;
	font-weight: 700;
	text-align: center;
}

.login-register__inform input {
	width: 100%;
	padding: 6px 2px;
	font-size: 18px;
	outline: none;
	background: none;
	background-color: #fff;
	border: 2px solid #fff;
	border-radius: 5px;
	box-sizing: border-box;
}

.login-register__inform label {
	font-size: 18px;
	display: block;
	margin-bottom: 3px;
}

.login-register__inform .block {
	margin-top: 20px;
	
}

.login-register__submit {
	font-size: 20px;
    width: 100%;
    background-color: #fff;
	padding: 6px 2px;
	transition: all 0.3s;
}

.login-register__submit:hover {
	background-color: #e3e3e3;
}

.register__link, .login__link {
	text-decoration: underline;
	color: #ffffff;
}